<!DOCTYPE html>
<html>
  <head>
    <title>Display Users</title>
  </head>
  <body>
    <h1>Users List</h1>
    <ul>
      <% users.forEach(user => { %>
      <li>
        <%= user.username %> - <%= user.email %>
        <a href="/update/<%= user._id %>">Edit</a>
      </li>
      <% }) %>
    </ul>
    <a href="/create">Create New User</a>
  </body>
</html>
